mixin input(data)
	div.input
		input.input__field(
			type=data.type,
			id=data.id,
			placeholder=data.placeholder,
			value=data.value,
			name=data.name,
			required=data.required,
			title=data.title
		)
		if data.icon
			span.input__icon
				+icon(data.icon, 'icon--size_mod')
